node_modules/
dist/
dist-ssr/
release/
*.local
*.log
*.sqlite
*.db
*.db-journal
*.db-shm
*.db-wal
.env
.env.*
.DS_Store
.vscode/
.idea/
build/
out/
app-builder.exe
*.exe
*.zip
*.tar.gz
*.dmg
*.pkg
*.deb
*.rpm
coverage/
node_modules/
.npm
.eslintcache
